# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/06-Code/Hardware store V 0.1/build/
/06-Code/Graphics mode/Hardware Store Graphics/nbproject/private/
/06-Code/Hardware store V 0.6.0/target/
/06-Code/Hardware store V 0.6.1/Hardware store V 0.6.0/target/
/06-Code/Hardware store V 0.6.0/Hardware store V 0.6.0/target/
/06-Code/Hardware store V 0.6.0/Hardware store V 0.6.0/Hardware store V 0.6.0/target/
/06-Code/Hardware store V 0.6.2/UpdateProject/target/
/06-Code/Hardware store V 0.6.1/Hardware store V 0.6.0/Hardware store V 0.6.0/target/
/06-Code/Hardware store V 0.6.1/Hardware store V 0.6.0/Hardware store V 0.6.0/nbproject/
/06-Code/Hardware store V 0.6.2/UpdateProject/nbproject/
/06-Code/Hardware store V 3.1/V 3.1 Hadware Store/target/
